{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section class="gradient-custom">
  <div class="container py-5">

    <div class="row">

      <div class="col-md-6 col-lg-12 col-xl-5 mb-4 mb-md-0">

        <h5 class="font-weight-bold mb-3 text-center text-white">Channels</h5>
        <div class="card mask-custom">
          <div class="card-body">
            <ul class="list-unstyled mb-0">

              {% for channel in channels %}
              <li class="p-2 border-bottom" style="border-bottom: 1px solid rgba(255,255,255,.3) !important;">
                <a href="{{ path("app_channel", {id : channel.id}) }}" class="d-flex justify-content-between link-light">
                  <div class="d-flex flex-row">
                    <img src="{{ asset("img/channel/channel-" ~ loop.index ~ '.jpg') }}" alt="avatar"
                      class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                    <div class="pt-1 d-flex justify-content-center align-items-center">
                      <p class="fw-bold mb-0">Channel {{ channel.id }}</p>
                    </div>
                  </div>
                  <div class="pt-1">
                    <img src="{{ asset("img/right-long-solid.svg") }}" alt="">
                  </div>
                </a>
              </li>
              {% endfor %}
            </ul>

          </div>
        </div>

      </div>

      <div class="col-md-6 col-lg-7 col-xl-7">
        <ul class="list-unstyled text-white chat-channel">
          {% set author = 1 %}

          {% for message in messages %}
            {% if loop.index0 > 0 %}
              {% if messages[loop.index0].author != messages[loop.index0 - 1].author %}
                {% if author == 1 %}
                  {% set author = 2 %}
                  {% else %}
                  {% set author = 1 %}
                {% endif %}
              {% endif %}
            {% endif %}

            {% if author == 1 %}
            <li class="d-flex justify-content-between mb-4">
              <img src="{{ asset('img/avatar/' ~ message.author.photo ) }}" alt="avatar"
                class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
              <div class="card mask-custom w-100 author-1">
                <div class="card-header d-flex justify-content-between p-3"
                  style="border-bottom: 1px solid rgba(255,255,255,.3);">
                  <p class="fw-bold mb-0">{{ message.author.firstname ~ " " ~ message.author.lastname}}</p>
                  <p class="text-light small mb-0"><i class="far fa-clock"></i>{{ message.date|date("Y-m-d H:i:s") }}</p>
                </div>
                <div class="card-body">
                  <p class="mb-0">
                    {{ message.content }}
                  </p>
                </div>
              </div>
            </li>
            {% else %}
            <li class="d-flex justify-content-between mb-4">
              <div class="card mask-custom w-100 author-2">
                <div class="card-header d-flex justify-content-between p-3"
                  style="border-bottom: 1px solid rgba(255,255,255,.3);">
                  <p class="fw-bold mb-0">{{ message.author.firstname ~ " " ~ message.author.lastname}}</p>
                  <p class="text-light small mb-0"><i class="far fa-clock"></i>{{ message.date|date("Y-m-d H:i:s") }}</p>
                </div>
                <div class="card-body">
                  <p class="mb-0">
                    {{ message.content }}
                  </p>
                </div>
              </div>
              <img src="{{ asset('img/avatar/' ~ message.author.photo ) }}" alt="avatar"
                class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
            </li>
            {% endif %}
          {% endfor %}
        </ul>
        {{ form_start(form) }}
          <div class="form-outline form-white mt-5 d-flex justify-content-center form-send-message">
            {{ form_row(form.content) }}
        {{ form_end(form) }}
          </div>

      </div>

    </div>

  </div> 
</section>

<script src="{{ asset('js/channel.js') }}"></script>
<script src="{{ asset('js/messageMercure.js') }}"></script>

<script>
  const currentUrl = window.location.href;
  const currentIdUrl = currentUrl.substring(currentUrl.lastIndexOf('/') + 1);

  const eventSource = new EventSource('{{ mercure("https://localhost:8000/channel/") }}' + currentIdUrl, { withCredentials: true });
  
  eventSource.onmessage = event => {
    // Will be called every time an update is published by the server
    let author = '{{ author }}' ;
    messageMercure(JSON.parse(event.data), author);
  }
</script>

{% endblock %}